body {
	background-color: #222;
	background-image: url('img/bg.png');
	color: #e0d0d0;
	margin: 0px;
}
header {
	background-color: #555;
	background-image: url('img/top-bg.png');
	height: 48px;
	width: 100%;
	border-bottom: 3px solid #000;
}
header h1 {
	margin: auto 0px;
	color: White;
	@media screen and (max-width: 383px) {
		font-size: 1.5em;
	}
}

div#center {
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: 600px;
	@media screen and (max-width: 600px) {
		width: 100%;
	}
}
main {
	max-width: 600px;
	margin: auto;
	@media screen and (max-width: 600px) {
		width: 100%;
	}
}
footer {
	background-color: #111;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer p {
	margin: 0px;
}
p, td, li {
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: serif;
	margin-bottom: 5px;
}
a:link {
	color: #aaf;
}
a:hover {
	color: White;
}
a:visited {
	color: #aaa;
}
a:active {
	color: #ff0;
}
nav a:link {
	color: White;
	text-decoration: none;
	font-weight: bold;
}
nav a:visited{
	color: White;
}
nav a:hover {
	color: #ccc;
}
nav a:active{
	color: #ccc;
}
nav a:link.current {
	text-decoration: underline;
}
nav a:hover.current {
	text-decoration: underline;
	color: #ccc;
}
span.online {
	color: Lime;
	text-shadow: 0 0 20px Lime;
}
span.offline {
	color: Red;
	text-shadow: 0 0 20px Red;
}
.tooltip {
	text-decoration: underline dotted;
	cursor: help;
}
table,
td {
	border: 1px solid DarkGray;
}
thead,
tfoot {
	background-color: White;
	color: Black;
}
summary {
	cursor: pointer;
}
blockquote {
	font-style: italic;
}
img.banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
}
section {
	overflow: auto;
}
span.address {
	float: right;
	font-family: sans-serif;
}
