a:hover {
	text-decoration: none;
}
span.op {
	color: DarkOrange;
}
span.online {
	color: Green;
}
span.offline {
	color: DarkRed;
}
@media (prefers-color-scheme: dark) {
	body {
		background: Black;
		color: White;
	}
	a {
		color: LightSkyBlue;
	}
	a:visited {
		color: MediumPurple;
	}
	span.op {
		color: Orange;
	}
	span.online {
		color: Lime;
	}
	span.offline {
		color: Red;
	}
}
