body {
	background: #111;
	color: White;
	background-image: url(img/bg.png);
}
main {
	max-width: 70ch;
	margin: auto;
}
p {
	font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	font-family: serif;
}
a {
	color: LightSkyBlue;
}
a:visited {
	color: MediumPurple;
}
span.op {
	color: Orange;
}
span.vip {
	color: Lime;
}
span.mapmaker {
	color: Blue;
}
span.online {
	color: Lime;
}
span.offline {
	color: Red;
}
table,
td {
	border: 1px solid DarkGray;
}
thead,
tfoot {
	background-color: White;
	color: Black;
}
blockquote {
	font-style: italic;
}
img.banner {
	display: block;
	margin-left: auto;
	margin-right: auto
}
