a:hover {
	text-decoration: none;
}
span.op {
	color: DarkOrange;
}
@media (prefers-color-scheme: dark) {
	body {
		background: Black;
		color: White;
	}
	a {
		color: LightSkyBlue;
	}
	a:visited {
		color: MediumPurple;
	}
	span.op {
		color: Orange;
	}
}
